/******************************************************************
Site Name:
Author:

Stylesheet: Elementor Styles

******************************************************************/

.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
  padding: 0;
}

.elementor-column {
  min-height: 0;
}