/******************************************************************
Site Name: time4africa
Author: Ankerlos

Stylesheet: Elementor Styles

******************************************************************/

.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
  padding: 0;
}

.elementor-column {
  min-height: 0;
}

.elementor-widget-heading .elementor-widget-container {
  padding: 0 0 1em 0;
}

.elementor-widget-text-editor .elementor-widget-container {
  padding: 0 15%;
}
