/******************************************************************
Site Name: time4africa
Author: Ankerlos

Stylesheet: Elementor Styles

******************************************************************/

.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
  padding: 0;
}

.elementor-column {
  min-height: 0;
}

.elementor-widget-heading .elementor-widget-container {
  padding: 0 0 1em 0;
}

/*****************
CALL TO ACTION
*****************/

.t4a-element {
  .elementor-cta__content {
    padding:0;
    color: $t4a-gold-light;
    font-family: $t4a-font-bold;

    .elementor-cta__image {
      margin-bottom: 0;
      font-size:0px;
    }

    .elementor-cta__title {
      position:absolute;
      color: $t4a-gold-light;
    }

    .elementor-cta__description {
      position:absolute;
      padding-top: 2.6em;
      font-size: 1.3em;
      letter-spacing: 0.2em;
      color: $t4a-gold-light;
    }
  }
}

.elementor-button {
    display: inline-block;
    line-height: 1.6em;
    background-color: #fff;
    color: $t4a-gold;
    text-align: center;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    border: 2px solid $t4a-gold;
    padding: 1.5em;
}

.elementor-button.elementor-size-md {
    width: 80%;
    max-width: 320px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 0.8em;
}
