/******************************************************************
Site Name: time4africa
Author: Ankerlos

Stylesheet: WooCommerce Styles

******************************************************************/

.woocommerce #content div.product.style-1col {
  div.images {
    float: none;
    width: 100%;
  }

  div.summary {
    float: none;
    width: 100%;
  }
}

.woocommerce .products ul,
.woocommerce ul.products {
  margin: 2em 0;
}

.woocommerce ul.products li.product {

  text-align: center;

  a {
    color: $black;
  }

  .woocommerce-loop-category__title,
  .woocommerce-loop-product__title,
  .h3 {
    text-align: center;
    display: inline-block;
    border-bottom: 1px solid $black;
    padding: 1px 0;
    margin: 0.5em 0 3em 0;
  }
}

.woocommerce .add_to_cart_button.ajax_add_to_cart,
.woocommerce ul.products li.product .price {
  display: none;
}
