/******************************************************************
Site Name:
Author:

Stylesheet: WooCommerce Styles

******************************************************************/

.woocommerce #content div.product.style-1col {
  div.images {
    float: none;
    width: 100%;
  }

  div.summary {
    float: none;
    width: 100%;
  }
}