/******************************************************************
Site Name: time4africa
Author: Ankerlos

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 100%;
  max-width: 1200px;
}

/*********************
LOGO HEADER
*********************/

.hentry footer,
.product-footer {
  height: 380px;

  .home & {
    height:600px;
  }
  
}
