/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

/*********************
LOGO HEADER
*********************/

#logo-header {
  .home & {
    margin-top: 40vh;
  }
}

.hentry footer {
  height: 500px;
}
